<%- include('./style')%>
<div class='horas' style='display: none;'> <%= horas %> </div>
<div class="calendar">
    <div class="month">
      <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li class="currentMonth">
        </li>
      </ul>
    </div>
    <ul class="weekdays">
    </ul>
    <ul class="days">
    </ul>
  </div>
  <script src="/assets/js/script.js"></script>
