    <script src="public/assets/js/jquery.min.js" type="javascript/text"></script>
    <script src="public/assets/js/bootstrap.bundle.min.js" type="javascript/text"></script>
    <script src="/public/assets/js/bundle.js" type="javascript/text"></script>
  </body>
</html>