    <script src="public/assets/js/jquery-3.2.1.slim.min.js" type="javascript/text"></script>
    <script src="public/assets/js/popper.min.js" type="javascript/text"></script>
    <script src="public/assets/js/bootstrap.bundle.min.js" type="javascript/text"></script>
    <script src="/public/assets/js/bundle.js" type="javascript/text"></script>
  </body>
</html>